---
import Card from "./Card/index.astro";
import { Icon } from "astro-icon/components";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="sr-only">
      Hi, I'm [Your Name], a software developer with experience in both frontend and backend, including React, Vue, Node.js, Go, Laravel, JavaScript, and Python. I’m passionate about creating complex, innovative systems
      and tackling challenging problems. Outside of coding, I enjoy cycling, gaming, and diving into a good book. I’m always pushing myself to learn and build, and yes, this weekend’s project is definitely getting
      finished!
    </p>
    <div aria-hidden="true" class="text-sm font-light">
      <p class="text-sm font-light">Hi, I'm Gerind, a software developer from Albania.</p>
      <p class="text-sm font-light py-1">My primary tools of choice include:</p>
      <ul class="list-none ml-0 space-y-1 text-xs font-light">
        <li>
          <Icon name="logos:react" class="inline-block w-4 h-4 mr-2" /> React
        </li>
        <li>
          <Icon name="logos:vue" class="inline-block w-4 h-4 mr-2" /> Vue
        </li>
        <li>
          <Icon name="logos:nodejs" class="inline-block w-4 h-4 mr-2" /> Node.js
        </li>
        <li>
          <Icon name="logos:go" class="inline-block w-4 h-4 mr-2" /> Go
        </li>
        <li>
          <Icon name="logos:laravel" class="inline-block w-4 h-4 mr-2" /> Laravel
        </li>
        <li>
          <Icon name="logos:javascript" class="inline-block w-4 h-4 mr-2" /> JavaScript
        </li>
        <li>
          <Icon name="logos:python" class="inline-block w-4 h-4 mr-2" /> Python
        </li>
      </ul>
    </div>
    <p class="text-sm font-light">I'm passionate about building creative, complex systems that solve real-world problems. Coding is both my job and my hobby, and I’m always learning new tools to enhance my skills.</p>
    <p class="text-sm font-light">In my free time, you’ll find me cycling, gaming, or reading a new book. And yes, I’ve got a weekend project lined up that I’ll totally finish this time!</p>
  </div>
</Card>
