---
import Card from "./Card/index.astro";
import { Icon } from "astro-icon/components";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="sr-only">
      Hi, I'm Gerind, a software engineer from Albania. I work across frontend and backend, using tools like React, Vue, Node.js, Go, Laravel, JavaScript, and Python to deliver practical solutions to real-world problems.
      I enjoy improving systems, learning continuously, and collaborating with teams to ship dependable products. Outside of coding, I spend time cycling, gaming, and reading.
    </p>
    <div aria-hidden="true" class="text-sm font-light">
      <p class="text-sm font-light">Hi, I'm Gerind, a software engineer from Albania.</p>
      <p class="text-sm font-light py-1">My primary tools of choice include:</p>
      <ul class="list-none ml-0 space-y-1 text-xs font-light">
        <li>
          <Icon name="logos:react" class="inline-block w-4 h-4 mr-2" /> React
        </li>
        <li>
          <Icon name="logos:vue" class="inline-block w-4 h-4 mr-2" /> Vue
        </li>
        <li>
          <Icon name="logos:nodejs" class="inline-block w-4 h-4 mr-2" /> Node.js
        </li>
        <li>
          <Icon name="logos:go" class="inline-block w-4 h-4 mr-2" /> Go
        </li>
        <li>
          <Icon name="logos:laravel" class="inline-block w-4 h-4 mr-2" /> Laravel
        </li>
        <li>
          <Icon name="logos:javascript" class="inline-block w-4 h-4 mr-2" /> JavaScript
        </li>
        <li>
          <Icon name="logos:python" class="inline-block w-4 h-4 mr-2" /> Python
        </li>
      </ul>
    </div>
    <p class="text-sm font-light">I enjoy turning complex requirements into practical, maintainable solutions and continuously improving the way products are built and delivered.</p>
    <p class="text-sm font-light">Outside of work, I recharge through cycling, gaming, and reading, which keeps me curious and brings fresh perspective to problem-solving.</p>
  </div>
</Card>
